     
        
            <header class="´grid grid-cols-3 ">
                <img src="assets/img/logos/LogoPJ.png" class="logo-left" width="150px">
                <div class="title-container w-3/4 relative top-8">
                  <h1><b>III CONGRESO INTERNACIONAL DE FLAGRANCIA</b></h1>
                  <h2><b>LA CRIMINALIDAD EN EL PERÚ: RETOS Y DESAFÍOS DE LAS UNIDADES DE FLAGRANCIA 2024</b></h2>
                  <!-- <h1><img src="img/portal/banderas.png" width="200px" height="40px"></h1>
                  <img src="img/portal/fecha.png"> -->

                  <div class="flex flex-wrap justify-center gap-2 mb-6 mt-6">
                    <img class="bandera" src="assets/img/banderas/peru.jpg" alt="Bandera de Perú">
                    <img class="bandera" src="assets/img/banderas/argentina.jpg" alt="Bandera de Argentina">
                    <img class="bandera" src="assets/img/banderas/colombia.jpg" alt="Bandera de Colombia">
                    <img class="bandera" src="assets/img/banderas/chile.jpg" alt="Bandera de Chile">
                    <img class="bandera" src="assets/img/banderas/ecuador.jpg" alt="Bandera de Ecuador">
                    <img class="bandera" src="assets/img/banderas/costa-rica.png" alt="Bandera de Argentina">
                    <img class="bandera" src="assets/img/banderas/italia.png" alt="Bandera de Colombia">
                    <img class="bandera" src="assets/img/banderas/mexico.png" alt="Bandera de Chile">
                    <img class="bandera" src="assets/img/banderas/salvador.png" alt="Bandera de Ecuador">
                    <img class="bandera" src="assets/img/banderas/spain.png" alt="Bandera de Ecuador">
                </div>
                <div class="flex justify-center ">
                    <div class="rounded-lg bg-[#800000] text-white px-4 md:px-8 py-2 md:py-4 m-2 brillo z-depth-3">
                      <div class="text-center item-card-fecha-dia item-card-fecha-border">27, 28 y 29</div>
                      <div class="text-center item-card-fecha">AGOSTO 2024</div>
                    </div>
                  </div>
                  
            
                  <!-- <h4 >Auditorio Zum de la Universidad de Lima, Av. Javier Prado Este 4600, Lima.</h4> -->
                </div>
                <img src="assets/img/logos/logo-comision.png" class="logo-right" width="150px" height="60px">
            </header>

            

            
            <section  class="grid grid-rows-1  place-items-center mt-6 mb-10">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full md:w-3/4 px-4 md:px-0 ">
                    
                        <div class="flex-1  p-1 content-center">
                            <video
                                class="video-js"
                                id="cumbre-pj-video"
                                controls
                                preload="auto"
                                poster="assets/img/video-poster-pj.png"
                                data-setup='{"fluid": true}'>
                                <source src="assets/video/video-congreso.mp4" type="video/mp4"/>
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                                    supports HTML5 video
                                    </a>
                                </p>
                            </video>
                        </div>
                    
                    
                        <div class="flex-1  p-2 leading-relaxed">
                           <!--  <p class="font-bold text-center">
                                <b> III Congreso Internacional de Flagrancia</b>
                            </p> -->
                            <p class="font-bold">
                                <b>Objetivo</b>
                            </p>
                            <p class="text-justify">
                                Fortalecer el modelo procesal penal acusatorio desde la perspectiva del proceso inmediato en los casos de flagrancia delictiva, realizando un análisis crítico y comparado con las diversas legislaciones de la región y Europa, y a través de ello proponer mecanismos de solución, fortalecimiento y consolidación de las unidades de flagrancia que además se viene implementando en nuestro país.
                            </p>
                            <p class="font-bold">
                                <b>Lugar y Fecha</b>
                            </p>
                            <p class="text-justify mb-4">
                                Modalidad presencial: Auditorio Zum de la Universidad de Lima, ubicado en la Av. Javier Prado Este 4600.
                            </p>
                            <p class="text-justify mb-4">
                                Modalidad virtual a través del Facebook en vivo de la Comisión de Implementación de las Unidades de Flagrancia en el
                                Perú. <a class="text-blue-500 hover:text-blue-700 underline hover:no-underline " href="https://www.facebook.com/profile.php?id=100094014965726">Modalidad virtual</a>
                            </p>
                            
                            <div class="flex flex-col md:flex-row gap-2">
                                <button class="bg-red-600 text-white font-bold hover:bg-red-700  py-3 px-4 rounded-lg" (click)="registrarseClick();">
                                    Registrarse
                                </button>
                                <button class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-4 rounded-lg  " (click)="verProgramaClick()">
                                    Abrir Programa
                                </button>
                            </div>
                        </div>
                        
                    
                </div>
            </section>
        
        <section class="bg-[#800000] text-white  flex justify-center section-container">
            <div class=" leading-relaxed text-base sm:text-xs md:text-lg 2xl:text-3xl w-full max-w-6xl mx-4 font-roboto" >
                Se contará con la participación de 15 destacados expositores nacionales e internacionales provenientes de Argentina, Chile, Colombia, Ecuador, Costa Rica, El Salvador, España, Italia y Perú. Además, la participación de 30 panelistas entre jueces, fiscales, defensores públicos y privados, docentes universitarios y miembros de la Policía Nacional del Perú.
            </div>
        </section>
        <section class="section-internacional section-container">
            <div class="text-center text-orange-800 font-semibold  py-4 px-10 text-expo">
                Expositores Internacionales
            </div>
            
            <div class="page-container">

                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    
                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon1-claudio-santagatti.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/argentina.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. CLAUDIO JESÚS SANTAGATTI</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Defensor General Adjunto en Poder Judicial de la provincia de Buenos Aires, Argentina.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon2-patricio-caroca.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/chile.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. PATRICIO CAROCA LUENGO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Fiscal Regional del Biobío y Fiscal Regional del Maule. Fiscal Nacional Subrogante del Ministerio Público de Chile.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon3-david-gutierrez.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/colombia.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. DAVID GUTIÉRREZ CASTAÑO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Doctor en Derecho, Maestro universitario en diferentes Universidades de Colombia.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon4-carlos-nunes.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/costa-rica.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. CARLOS NÚÑEZ NUÑEZ</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Juez de Flagrancias en Costa Rica.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon5-gustavo-jalkh.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/ecuador.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. GUSTAVO JALKH RÖBEN</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Doctor en Derecho. Ex Presidente del Consejo de la Judicatura del Ecuador y Ministro de Justicia y Derechos Humanos.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon6-ignacio-torres.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/spain.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. IGNACIO DE TORRES GUAJARDO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Magistrado del Juzgado Penal 5 de Madrid. Licenciado en derecho en la especialidad jurídico empresarial.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon7-miriam-aldana.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/salvador.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DRA. MIRIAM GERARDINE ALDANA REVELO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Jueza del Tercer Tribunal contra el crimen organizado.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon8-manuel-guerrero.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/mexico.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. JUAN MANUEL GUERRERO ALMARAZ</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Director Jurídico para América Latina de la Barra Interamericana de Abogados y de la Facultad Interamericana de Litigación - México.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-nacional section-container">
            <div class="page-container">
                <div class="text-center text-white font-semibold  py-4 px-10 text-expo">
                    Expositores Nacionales
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    
                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon9-elvia-barrios.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DRA. ELVIA BARRIOS ALVARADO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Jueza Suprema Titular, Miembro del Consejo Ejecutivo Presidenta de la UETI-CPP, Past presidenta del Poder Judicial.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon10-jose-neyra.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. JOSÉ ANTONIO NEYRA FLORES</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Juez Supremo Titular de la Corte Suprema de Justicia del Perú.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon14-checkley-soria.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. JUAN CARLOS CHECKLEY SORIA</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Juez Supremo de la Corte Suprema de Justicia de la República.
                                </p>
                            </div>
                        </div>
                    </div> 

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon11-giammpol-taboada.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. GIAMMPOL TABOADA PILCO</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Juez Superior Titular de la Corte Superior de Justicia de La Libertad.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon12-cesar-nakazaki.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">DR. CÉSAR NAKAZAKI SERVIGÓN</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Profesor de la Facultad de Derecho de la Universidad de Lima.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center p-4">
                        <div class="box w-full max-w-xs bg-[#f1f1f1] rounded-lg shadow-lg">
                            <div class="flex justify-center my-2">
                                <div class="w-48 h-48 bg-white rounded-full overflow-hidden shadow">
                                    <img class="w-full h-full object-cover" src="assets/img/cards/pon13-luis-bramont.png" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                                <div class="w-8 h-8 overflow-hidden shadow-lg absolute top-4 left-4 rounded-tl-lg rounded-br-lg">
                                    <img class="w-full h-full object-cover" src="assets/img/banderas/peru.jpg" alt="DR. CLAUDIO JESÚS SANTAGATTI">
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold text-base mb-2 font-roboto text-justify">SR. DR. LUIS ALBERTO BRAMONT ARIAS</div>
                                <p class="text-gray-700 text-base font-roboto text-justify">
                                    Profesor de la Facultad de Derecho de la Universidad de Lima.
                                </p>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
        <section class="section-registrate bg-white section-container ">
            <div class="page-container">
                <div class="grid grid-cols-1">
                    <div class="pb-6">
                        <div class="text-orange-800 text-center font-semibold text-2xl lg:text-4xl">
                            Regístrate ahora
                        </div>
                        <div class="text-md text-center sm:text-lg my-4">
                            ¡No te pierdas la oportunidad de ser parte de este congreso único en su tipo! Regístrate ahora y asegura tu lugar.
                        </div>
                        <div class="flex justify-center">
                            <button class="bg-red-600 text-white font-bold hover:bg-red-700  py-3 px-4 rounded-lg" (click)="registrarseClick();">
                                Registrarse
                            </button>
                        </div>
                    </div>
                    
                   
                </div>
                

                
            </div>
        </section>
        <footer class="bg-neutral-700">
            <div class="text-white text-center py-4 px-4 md:px-8">
                <div class="text-sm md:text-base mb-2">
                    Paseo de la República S/N Palacio de Justicia, Cercado, Lima - Perú
                </div>
                <div class="text-sm md:text-base mb-2">
                    Copyright - {{currentDate | date: 'yyyy'}} Todos los derechos reservados
                </div>
                <div class="text-sm md:text-base">
                    Recomendado para Chrome, Mozilla Firefox, IExplorer 9 o versiones superiores
                </div>
            </div>
        </footer>
        
    
   

        <aside class="social-buttons">
            <a href="https://whatsapp.com/channel/0029VagBxCk8kyyUKSNmyG42" target="_blank" class="social-button whatsapp-button">
                <fa-icon [icon]="faWhatsapp" class="text-4xl"></fa-icon>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100094014965726" target="_blank" class="social-button facebook-button">
                <fa-icon [icon]="faFacebook" class="text-4xl"></fa-icon>
            </a>
        </aside>
        