     
        
            <header class="text-center py-5">
                <img src="assets/img/logos/LogoPJ.png" class="logo-left" width="150px" height="130px">
                <div class="title-container">
                  <h1><b>III CONGRESO INTERNACIONAL DE FLAGRANCIA</b></h1>
                  <h2><b>LA CRIMINALIDAD EN EL PERÚ: RETOS Y DESAFÍOS DE LAS UNIDADES DE FLAGRANCIA 2024</b></h2>
                  <!-- <h1><img src="img/portal/banderas.png" width="200px" height="40px"></h1>
                  <img src="img/portal/fecha.png"> -->

                  <div class="flex justify-center gap-2 mb-6 mt-6">
                    <img class="bandera" src="assets/img/banderas/peru.jpg" alt="Bandera de Perú">
                    <img class="bandera" src="assets/img/banderas/argentina.jpg" alt="Bandera de Argentina">
                    <img class="bandera" src="assets/img/banderas/colombia.jpg" alt="Bandera de Colombia">
                    <img class="bandera" src="assets/img/banderas/chile.jpg" alt="Bandera de Chile">
                    <img class="bandera" src="assets/img/banderas/ecuador.jpg" alt="Bandera de Ecuador">
                </div>
                <div class="flex justify-center animate__animated animate__swing animate__delay-1s">
                    <div class="rounded-lg  px-4 md:px-8 py-2 md:py-4 m-2 card-fecha brillo z-depth-3">
                        <div class="text-center item-card-fecha-dia item-card-fecha-border">27, 28 y 29</div>
                        <div class="text-center item-card-fecha">AGOSTO 2024</div>
                    </div>
                </div>
            
                  <h4>Auditorio Zum de la Universidad de Lima, Av. Javier Prado Este 4600, Lima.</h4>
                </div>
                <img src="assets/img/logos/logo-comision.png" class="logo-right" width="200px" height="60px">
            </header>

            

            
            <section  class="bg-gray-200 h-screen flex items-center justify-center">
                <div class="flex space-x-2 max-w-2xl w-full px-2">
                    
                        <div class="flex-1 bg-blue-500 p-2 text-white">
                            <video
                                class="video-js"
                                id="cumbre-pj-video"
                                controls
                                preload="auto"
                                poster="assets/img/video-poster-pj.png"
                                data-setup='{"fluid": true}'>
                                <source src="assets/video/video-congreso.mp4" type="video/mp4"/>
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                                    supports HTML5 video
                                    </a>
                                </p>
                            </video>
                        </div>
                    
                    
                        <div class="flex-1 bg-green-500 p-2 text-white">
                            <h2 class="text-center font-bold">
                                III Congreso Internacional de Flagrancia: La criminalidad en el Perú: Retos y Desafíos de las Unidades de Flagrancia
                            </h2>
                            <p >
                                <b>Objetivo</b>
                            </p>
                            <p class="text-justify">
                                Fortalecer el modelo procesal penal acusatorio desde la perspectiva del proceso inmediato en los casos de flagrancia delictiva, realizando un análisis crítico y comparado con las diversas legislaciones de la región y Europa, y a través de ello proponer mecanismos de solución, fortalecimiento y consolidación de las unidades de flagrancia que además se viene implementando en nuestro país.
                            </p>
                            <p class="font-bold">
                                <b>Lugar y Fecha</b>
                            </p>
                            <p class="text-justify mb-4">
                                Este importante evento se realizará en la ciudad de Lima, los días 27, 28 y 29 de agosto del año en curso de 07:40 a las 17:40 horas , en el Auditorio Zum de la Universidad de Lima, ubicado en la Av. Javier Prado Este 4600.
                            </p>
                            <div class="flex gap-2">
                                <button class="bg-orange-800 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full animate__animated animate__tada animate__delay-2s" (click)="registrarseClick();">
                                    Registrarse
                                </button>
                                <button class="bg-sky-800 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-full animate__animated animate__tada animate__delay-3s" (click)="verProgramaClick()">
                                    Abrir Programa
                                </button>
                            </div>
                        </div>
                        
                    
                </div>
            </section>
        
        <section class="bg-info py-5 text-center mx-auto">
            <div class="text-black-400 font-semibold text-justify sm:text-lg my-4">
                Se contará con la participación de 15 destacados expositores nacionales e internacionales provenientes de Argentina, Chile, Colombia, Ecuador, Costa Rica, El Salvador, España, Italia y Perú. Además, la participación de 30 panelistas entre jueces, fiscales, defensores públicos y privados, docentes universitarios y miembros de la Policía Nacional del Perú.
            </div>
        </section>
        <section class="section-internacional section-container">
            
            <div class="page-container">
                <div class="text-center text-orange-800 font-semibold  py-4 px-10 text-expo">
                    Expositores Internacionales
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-2 lg:gap-6 xl:grid-cols-3 xl:gap-8">

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Argentina</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon1-claudio-santagatti.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    
                                    <div class="font-bold text-xl mb-2"><i class="fab fa-flag-spain"></i> DR. CLAUDIO JESÚS SANTAGATTI</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Defensor General Adjunto en Poder Judicial de la provincia de Buenos Aires – Argentina.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Chile</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon2-patricio-caroca.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. PATRICIO CAROCA LUENGO</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Fiscal Regional del Biobío y Fiscal Regional del Maule. Fiscal Nacional Subrogante del Ministerio Público de Chile.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Colombia</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon3-david-gutierrez.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. DAVID GUTIÉRREZ CASTAÑO</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Doctor en Derecho, Maestro universitario en diferentes Universidades de Colombia.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Costa Rica</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon4-carlos-nunes.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. CARLOS NÚÑEZ NUÑEZ</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Juez de Flagrancias en Costa Rica.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Ecuador</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon5-gustavo-jalkh.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. GUSTAVO JALKH RÖBEN</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Doctor en Derecho. Ex Presidente del Consejo de la Judicatura del Ecuador y Ministro de Justicia y Derechos Humanos.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>España</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon6-ignacio-torres.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. IGNACIO DE TORRES GUAJARDO </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Magistrado del Juzgado Penal 5 de Madrid. Licenciado en derecho en la especialidad jurídico empresarial.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>Salvador</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon7-miriam-aldana.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DRA. MIRIAM GERARDINE ALDANA REVELO </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Jueza del Tercer Tribunal contra el crimen organizado.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            <div class="ribbon ribbon-top-left"><span>México</span></div>
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon8-manuel-guerrero.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. JUAN MANUEL GUERRERO ALMARAZ</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Defensor General Adjunto en Poder Judicial de la provincia de Buenos Aires – Argentina.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                      
                    
    
                </div>
            </div>
        </section>
        <section class="section-nacional section-container">
            <div class="page-container">
                <div class="text-center text-white font-semibold  py-4 px-10 text-expo">
                    Expositores Nacionales
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-2 lg:gap-6 xl:grid-cols-3 xl:gap-8">

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon9-elvia-barrios.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DRA. ELVIA BARRIOS ALVARADO </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Jueza Suprema Titular, Miembro del Consejo Ejecutivo Presidenta de la UETI-CPP, Past presidenta del Poder Judicial 
.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon10-jose-neyra.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. JOSÉ ANTONIO NEYRA FLORES </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Juez Supremo Titular de la Corte Suprema de Justicia del Perú.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon11-giammpol-taboada.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. GIAMMPOL TABOADA PILCO </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Juez Superior Titular de la Corte Superior de Justicia de La Libertad. .
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon12-cesar-nakazaki.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">DR. CÉSAR NAKAZAKI SERVIGÓN </div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Profesor de la Facultad de Derecho de la Universidad de Lima. .
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-center animate__animated animate__pulse p-6">
                        <div class="box">
                            
                            <div class="max-w-sm overflow-hidden z-depth-4 card-item">
                                <img class="w-full" src="assets/img/cards/pon13-luis-bramont.png" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                    <div class="font-bold text-xl mb-2">SR. DR. LUIS ALBERTO BRAMONT ARIAS</div>
                                    <p class="text-gray-700 text-base text-justify">
                                        Profesor de la Facultad de Derecho de la Universidad de Lima  
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    

    
                </div>
            </div>
        </section>
        <section class="section-registrate bg-white section-container ">
            <div class="page-container">
                <div class="grid grid-cols-1">
                    <div class="pb-6">
                        <div class="text-orange-800 text-center font-semibold text-2xl lg:text-4xl">
                            Regístrate ahora
                        </div>
                        <div class="text-md text-center sm:text-lg my-4">
                            ¡No te pierdas la oportunidad de ser parte de este congreso único en su tipo! Regístrate ahora y asegura tu lugar.
                        </div>
                        <div class="flex justify-center">
                            <button class="bg-orange-800 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full animate__animated animate__tada animate__delay-2s" (click)="registrarseClick();">
                                Registrarse
                            </button>
                        </div>
                    </div>
                    
                    <!--<div class="pb-6">
                        <div class="text-orange-800 text-center font-semibold text-2xl lg:text-4xl">
                            Contáctanos
                        </div>
                        <div class="text-md sm:text-lg my-4">
                            Escríbenos al correo o contáctanos por WhatsApp
                        </div>
                        <div class="">
                            <div class="email flex items-center gap-2">
                                <fa-icon [icon]="faEnvelope" class="icon-contact text-2xl"></fa-icon> ugdj_cepj@pj.gob.pe
                            </div>
                            <div class="telefono flex items-center gap-2">
                                <fa-icon [icon]="faPhone" class="icon-contact text-2xl"></fa-icon> 051-970621390
                            </div>
                            <div class="dir flex items-center gap-2">
                                <fa-icon [icon]="faLocationDot" class="icon-contact text-2xl"></fa-icon> Auditorio del Edificio Carlos Zavala Loayza, ubicado en Jirón Manuel Cuadros 182, Lima
                            </div>
                        </div>
                    </div>-->
                </div>
                

                
            </div>
        </section>
        <footer class="bg-neutral-700">
            <div class="page-container text-white text-center py-4">
                <div class="text-footer">Paseo de la República S/N Palacio de Justicia, Cercado, Lima - Perú</div>
                <div class="text-footer">Copyright - {{currentDate | date: 'yyyy'}} Todos los derechos reservados</div>
                <div class="text-footer">Recomendado para Chrome, Mozilla Firefox, IExplorer 9 o versiones superiores</div>
            </div>
        </footer>
    
   

<aside class="social-buttons">
    <a href="https://whatsapp.com/channel/0029VagBxCk8kyyUKSNmyG42" target="_blank" class="social-button whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100094014965726" target="_blank" class="social-button facebook-button">
        <i class="fab fa-facebook-f"></i>
    </a>
</aside>