     
        
            <header class="´grid grid-cols-3 ">
                <img src="assets/img/logos/LogoPJ.png" class="logo-left" width="150px">
                <div class="title-container w-3/4 relative top-8">
                  <h1><b>III CONGRESO INTERNACIONAL DE FLAGRANCIA</b></h1>
                  <h2><b>LA CRIMINALIDAD EN EL PERÚ: RETOS Y DESAFÍOS DE LAS UNIDADES DE FLAGRANCIA 2024</b></h2>
                  <!-- <h1><img src="img/portal/banderas.png" width="200px" height="40px"></h1>
                  <img src="img/portal/fecha.png"> -->

                  <div class="flex flex-wrap justify-center gap-2 mb-6 mt-6">
                    <img class="bandera" src="assets/img/banderas/peru.png" alt="Bandera de Perú">
                    <img class="bandera" src="assets/img/banderas/argentina.png" alt="Bandera de Argentina">
                    <img class="bandera" src="assets/img/banderas/colombia.png" alt="Bandera de Colombia">
                    <img class="bandera" src="assets/img/banderas/chile.png" alt="Bandera de Chile">
                    <img class="bandera" src="assets/img/banderas/ecuador.png" alt="Bandera de Ecuador">
                    <img class="bandera" src="assets/img/banderas/costa-rica.png" alt="Bandera de Argentina">
                    <img class="bandera" src="assets/img/banderas/mexico.png" alt="Bandera de Chile">
                    <img class="bandera" src="assets/img/banderas/salvador.png" alt="Bandera de Ecuador">
                    <img class="bandera" src="assets/img/banderas/spain.png" alt="Bandera de Ecuador">
                </div>
                <div class="flex justify-center ">
                    <div class="rounded-lg bg-[#800000] text-white px-4 md:px-8 py-2 md:py-4 m-2 brillo z-depth-3">
                      <div class="text-center item-card-fecha-dia item-card-fecha-border">27, 28 y 29</div>
                      <div class="text-center item-card-fecha">AGOSTO 2024</div>
                    </div>
                  </div>
                  
            
                  <!-- <h4 >Auditorio Zum de la Universidad de Lima, Av. Javier Prado Este 4600, Lima.</h4> -->
                </div>
                <img src="assets/img/logos/logo-comision.png" class="logo-right" width="150px" height="60px">
            </header>

            

            
            <section  class="grid grid-rows-1  place-items-center mt-6 mb-10">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full md:w-3/4 px-4 md:px-0 ">
                    
                        <div class="grid place-items-center p-1 " >
                            <video
                                class="video-js"
                                id="cumbre-pj-video"
                                controls
                                preload="auto"
                                poster="assets/img/video-poster-pj.jpg"
                                data-setup='{"fluid": true}'>
                                <source src="assets/video/video-congreso.mp4" type="video/mp4"/>
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                                    supports HTML5 video
                                    </a>
                                </p>
                            </video>
                            <!-- <img class="shadow-lg object-cover w-1/2 md:w-full" src="assets/img/poder-judicial.gif" alt="Poder Judicial"> -->
                            
                        </div>
                    
                    
                        <div class="flex-1  p-2 leading-relaxed text-lg">
                            <p class="font-bold">
                                <b>Objetivo</b>
                            </p>
                            <p class="text-justify">
                                Fortalecer el modelo procesal penal acusatorio desde la perspectiva del proceso inmediato en los casos de flagrancia delictiva, realizando un análisis crítico y comparado con las diversas legislaciones de la región y Europa, y a través de ello proponer mecanismos de solución, fortalecimiento y consolidación de las unidades de flagrancia que además se viene implementando en nuestro país.
                            </p>
                            <p class="font-bold">
                                <b>Lugar y Fecha</b>
                            </p>
                            <p class="text-justify mb-4">
                                Modalidad presencial: Auditorio Zum de la Universidad de Lima, ubicado en la Av. Javier Prado Este 4600.
                            </p>
                            <p class="text-justify mb-4">
                                Modalidad virtual a través del Facebook en vivo de la Comisión de Implementación de las Unidades de Flagrancia en el
                                Perú. <a class="text-[#672b02] font-bold hover:text-[#672b02] underline hover:no-underline " href="https://www.facebook.com/profile.php?id=100094014965726">Modalidad virtual</a>
                            </p>
                            
                            <div class="flex flex-col md:flex-row gap-2">
                                <button class="bg-red-600 text-white font-bold hover:bg-red-700  py-3 px-4 rounded-lg" (click)="registrarseClick();">
                                    Registrarse
                                </button>
                                <button class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-4 rounded-lg  " (click)="verProgramaClick()">
                                    Abrir Programa
                                </button>
                            </div>
                        </div>
                </div>
            </section>
        
        <section class="bg-[#800000] text-white  flex justify-center section-container">
            <div class="text-base 3xl:text-2xl w-full font-roboto" >
                Se contará con la participación de 15 destacados expositores nacionales e internacionales provenientes de Argentina, Chile, Colombia, Ecuador, Costa Rica, El Salvador, España y Perú. Además, la participación de 30 panelistas entre jueces, fiscales, defensores públicos y privados, docentes universitarios y miembros de la Policía Nacional del Perú.
            </div>
        </section>

        <section class="section-internacional section-container">
            <div class="text-center text-orange-800 font-semibold  py-4 px-10 text-expo">
                Expositores Internacionales
            </div>
            
                <app-card [ponentes]="ponentesInternacionales"></app-card>
            
        </section>

        <section class="section-nacional section-container">
            
                <div class="text-center text-white font-semibold  py-4 px-10 text-expo">
                    Expositores Nacionales
                </div>
                <app-card [ponentes]="ponentesNacionales"></app-card>
            
        </section>

        <section class="section-registrate bg-white section-container ">
            <div class="page-container">
                <div class="grid grid-cols-1">
                    <div class="pb-6">
                        <div class="text-orange-800 text-center font-semibold text-2xl 3xl:text-4xl">
                            Regístrate ahora
                        </div>
                        <div class="text-md text-center 3xl:text-2xl my-4">
                            ¡No te pierdas la oportunidad de ser parte de este congreso único en su tipo! Regístrate ahora y asegura tu lugar.
                        </div>
                        <div class="flex justify-center">
                            <button class="bg-red-600 text-white font-bold hover:bg-red-700  py-3 px-4 rounded-lg" (click)="registrarseClick();">
                                Registrarse
                            </button>
                        </div>
                    </div>
                </div>   
            </div>
        </section>
        <footer class="bg-neutral-700">
            <div class="text-white text-center py-4 px-4 md:px-8">
                <div class="text-sm 3xl:text-base mb-2">
                    Paseo de la República S/N Palacio de Justicia, Cercado, Lima - Perú
                </div>
                <div class="text-sm 3xl:text-base mb-2">
                    Copyright - {{currentDate | date: 'yyyy'}} Todos los derechos reservados
                </div>
                <div class="text-sm 3xl:text-base">
                    Recomendado para Chrome, Mozilla Firefox, IExplorer 9 o versiones superiores
                </div>
            </div>
        </footer>
        
    
   

        <aside class="social-buttons">
            <a href="https://whatsapp.com/channel/0029VagBxCk8kyyUKSNmyG42" target="_blank" class="social-button whatsapp-button">
                <fa-icon [icon]="faWhatsapp" class="text-4xl"></fa-icon>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100094014965726" target="_blank" class="social-button facebook-button">
                <fa-icon [icon]="faFacebook" class="text-4xl"></fa-icon>
            </a>
        </aside>
        